#Cadastro{
    font-family: lato, sans-serif;
    background-color:#180c24;
    margin:0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color:white;
    --cor:rgb(209, 27, 255); /* rgb(209, 27, 255) */ /* cor tema */
}

#Cadastro > section{
    border-radius: 0px;
    width: 100vw;
    min-height: 100vh;
    padding: 20px;
    display:flex;
    flex-direction:row-reverse;
    justify-content: center;
    align-items:center;
    column-gap:20px;
}

#Cadastro form{
    width:50%;
    min-width: 400px;
    max-width:700px;
    height:auto;
    padding-bottom: 30px;
    background-color: #301c3c;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Cadastro form h2{
    color: var(--cor);
    text-shadow: 0px 0px 10px var(--cor);
    margin: 0;
    margin-top:20px;
    font-size: 40px;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
}

#Cadastro .user-box input{
    background-color: #58446c;
    border:none;
    border-radius:7px;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.199);
    width: calc(100% - 10px);
    height:35px;
    padding:24px 5px 23px 5px;
    color:white;
    font-size: 16px;
}
#Cadastro input::placeholder{
    color:rgba(243, 242, 242, 0.473);
    padding-left: 5px;
}
#Cadastro #submit-btn{
    color:#301c3c;
    font-weight: 400;
    font-size: 25px;
    transition:.4s;
    cursor: pointer;
    width: 90%;
    height: 50px;
    background-color: var(--cor);
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.199);
    border:none;
    border-radius:7px;
}
#Cadastro #submit-btn:hover{
    box-shadow: 0px 1px 40px 15px rgba(209, 27, 255, 0.342);
}
#Cadastro .user-box{
    width: 85%;
    margin-bottom:20px;
}

#Cadastro label > h5{
    color: rgb(211, 206, 206);
    margin: 0;
    margin-bottom: 7px;
    font-size: 16px;
}

#Cadastro [type="radio"]{
    appearance: none;
    border-radius: 30px;
    width: 20px;
    height:20px;
    background-color: white;
    padding: 10px;
}
#Cadastro [type="radio"]:checked{
    background-color: var(--cor);
}

#Cadastro #radio-buttons{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
}
#Cadastro #radio-buttons > div{
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-bottom: 10px;
    margin-left: 45px;
}
#Cadastro #radio-buttons label{
    margin-top: 3px;
}

#Cadastro #parte2{
    width: 50%;
    display: flex;
    justify-content: center;
}
#Cadastro #parte2 img{
    height: clamp(600px, 80vh, 700px);
   /* max-width: 500px; */
}

@media screen and (min-width:572px) and (max-width:1226px) {
    #Cadastro{
        overflow-y: auto;
    }
    #Cadastro > section{
        flex-direction:column;
        justify-content: flex-start;
    }
    #Cadastro #parte2 img{
        height: auto;
        width: 600px;
        
    }

    #Cadastro form{
        margin-top: 0px;
        min-width: 500px;
    }
    #Cadastro #radio-buttons > div{
        margin-left: 34px;
    }
}



@media screen and (max-width:571px){
    #Cadastro{
        overflow-y: auto;
    }
    #Cadastro > section{
        flex-direction:column;
        justify-content: flex-start;
        padding: 0;
    }
    #Cadastro #parte2 img{
        height: auto;
        width: 350px;
        min-width: 350px;
    }

    #Cadastro form{
        margin-top: 0px;
        min-width: 500px;
        border-radius: 0;
        width: 100%;
        min-width: 300px;
    }
    #Cadastro #radio-buttons > div{
        margin-left: 34px;
    }
}