#Curso{
    display: flex;
    overflow: hidden;
    --borda-comentario:rgb(83, 83, 83);
}

#Curso #sidebar{
    overflow-x: hidden;
    background-color: #180c24;
    min-height: calc(100vh - 390px);
    max-height: 100vh;
    width: 250px;
    min-width: 200px;
    color:white;
}
#Curso #sidebar button[type='button']{
    color:white;
    appearance: none;
    width: 100%;
    height: 50px;
    border:none;
    background-color: #351c50;
    text-align: start;
    margin-bottom: 2px;
    overflow: hidden;
    cursor: pointer;
}
#Curso #sidebar button[type='button']:hover{
    background-color: #1d0f2c !important;/* se nao tiver o important o botao perde o hover quando coloco o estilo no js */
}

#Curso #iframe-container{
    background-color: #180c24;
    width: calc(100vw - 267px);
    display: flex;
    justify-content: center;
    min-height: 315px;
}

#Curso #comentarios{
    width: calc(100vw - 267px);
    min-height: calc(100vh - 450px);
}

#Curso #btn-editar{
    position: absolute;
    right:20px;
    appearance: none;
    width: 30px;
    height: 30px;
    background-image: url(../../assets/edit-icon.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    transition:100ms;
    position: absolute;
    border:none;
    cursor: pointer;
    display: none;
    margin-right: 40px;
}

#Curso #btn-exercicio{
    position: absolute;
    right:20px;
    appearance: none;
    width: 30px;
    height: 30px;
    background-image: url(../../assets/exerc-icon.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    transition:100ms;
    position: absolute;
    border:none;
    cursor: pointer;
}

#Curso #btn-editar:hover,#Curso #btn-exercicio:hover{
    transform:scale(1.3);
}

#Curso #editar-curso-area{
    width: 950px;
    height: 700px;
    max-height: 90%;
    overflow: hidden;
    background-color: #180c24;
    position:fixed;
    top:5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: none;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

#Curso #editar-curso-area #btn-fechar{
    appearance: none;
    background: none;
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: absolute;
    border:none;
    cursor: pointer;
    right: 0px;
    top:5px;
    z-index: 3;
}
#Curso #editar-curso-area #btn-fechar img{
    width: 100%;
}

#Curso #editar-curso-area #form3{
    width: 300px;
    height: calc(100% - 50px);
    margin-top:50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom:10px;
    border-left: 2px solid white;
}
#Curso #editar-curso-area #form3 #todas-aulas{
   /*  background-color: aquamarine; */
    width: 300px;
    height: calc(100% - 50px);
    overflow-x: hidden;
    overflow-y:auto;
}

#Curso #editar-curso-area #todas-aulas button[type='button']{
    color:white;
    appearance: none;
    width: calc(100% - 50px);
    height: 50px;
    background-color: #351c50;
    text-align: start;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid white;
    border-right: none;
    margin-top: 2px;
}
#Curso #editar-curso-area #todas-aulas button[type='button']:hover{
    transform:scale(1.06);
}

#Curso #editar-curso-area #todas-aulas > div{
    display: flex;
    flex-direction: row-reverse;
    height: 50px;
    margin-bottom: 2px;
}

#Curso #editar-curso-area #todas-aulas div span{
    /* background-color: red; */
    width: 50px;
    height: 50px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:proxima-nova, sans-serif;
    font-size: 25px;
}
#Curso #editar-curso-area #form3 > div:first-child{
    display: flex;
    flex-direction: row-reverse;
    height: 50px;
}

#Curso #editar-curso-area #form3 > div:first-child button[type='button']{
    appearance: none;
    width: 35px;
    height: 35px;
    background-image: url(../../assets/reset.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    transition:100ms;
    margin-right: 10px;
    margin-top: 7px;
}

#Curso #editar-curso-area #form3 > div:first-child button:hover,#Curso #editar-curso-area #form2 > div:first-child button[type='submit']:hover{
    transform:scale(1.2);
}

#Curso #editar-curso-area #form3 > div:first-child button[type='submit']{
    appearance: none;
    width: 65px;
    height: 35px;
    background-color: white;
    transition:100ms;
    margin-right: 10px;
    margin-top: 7px;
    text-transform:uppercase;
    font-weight: 700;
}

#Curso #editar-curso-area #form2{
    width: 300px;
    height: calc(100% - 50px);
    margin-top:50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom:10px;
    overflow: hidden;
    color:white;
/*     border-left: 2px solid white;
    border-right: 2px solid white; */
}

#Curso #editar-curso-area #form2 > div:first-child{
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

#Curso #editar-curso-area #form2 > div:first-child button[type='submit']{
    appearance: none;
    width: 65px;
    height: 35px;
    background-color: white;
    transition:100ms;
    margin-right: 10px;
    margin-top: 7px;
    text-transform:uppercase;
    font-weight: 700;
}

#Curso #editar-curso-area .criar-editar-aula{
    /* background-color: #180c24; */
    width: 100%;
    height: calc(100% - 50px);
}

#Curso #editar-curso-area .criar-editar-aula input[type="text"],#Curso #editar-curso-area .criar-editar-aula input[type="url"]{
    width:calc(100% - 20px);
    height: 35px;
    background-color: #58446c;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.199);
    padding: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 16px;
    margin-top: 10px;
}

#Curso #editar-curso-area .criar-editar-aula input[type="text"]::placeholder,#Curso #editar-curso-area .criar-editar-aula input[type="url"]::placeholder{
    color:rgb(189, 186, 186);
}
#Curso #editar-curso-area .criar-editar-aula input[type="text"]:focus,#Curso #editar-curso-area .criar-editar-aula input[type="url"]:focus{
    outline:none;
}


#Curso #form2 #editar-aula-area label{
    display: flex;
    column-gap: 10px;
}
#Curso #form2 #editar-aula-area label h4{
    margin: 5px 0 0 0 ;
}

#Curso .comentario-container{
    border-bottom: solid 2px var(--borda-comentario);
    border-top: solid 2px var(--borda-comentario);
}
#Curso .comentario-container:not(:last-child){
    border-bottom: none;
}

#Curso .comentario-container > div:first-child{
    border-bottom: solid 1px var(--borda-comentario);
}
#Curso .comentario-container > div:first-child h4{
    margin:0;
}

#Curso #comentarios-container form{
    margin-bottom: 10px;
}
#Curso #comentarios-container form input{
    appearance: none;
    width: calc(100% - 120px);
    padding: 5px;
    border:none;
    border-bottom: 1px solid black;
}

#Curso #comentarios-container form input:focus{
    outline:none;
}

#Curso #comentarios-container form button{
    appearance: none;
    width: 100px;
    height: 28px;
    background-color: white;
    transition:100ms;
    text-transform:uppercase;
    font-weight: 700;
    margin-left: 10px;
    cursor:pointer;
}
#Curso #comentarios-container form button:hover{
    transform:scale(1.15)
}


#Curso #form2 #rd-buttons input,
#Curso #form2 #editar-aula-area input[type="radio"]{
    appearance: none;
    cursor:pointer;
    width: 20px;
    height:20px;
    border-radius: 50%;
    outline:none;
    border: 2px solid rgb(255, 254, 255);
    position:relative;
    display:flex;
}
#Curso #form2 #rd-buttons input:hover,
#Curso #form2 #editar-aula-area input[type="radio"]:hover{
    background-color: rgb(95, 95, 95);
}

#Curso #form2 #rd-buttons input:checked:before,
#Curso #form2 #editar-aula-area input[type="radio"]:checked:before{
    content:'';
    position:absolute;
    height: 10px;
    width: 10px;
    background-color: rgb(209, 27, 255);
    border-radius: 50%;
    top:3px;
    left: 3px;
}

#Curso #form2 #rd-buttons > div{
    display: flex;
}


#Curso #form2 #editar-aula-area label{
    margin-top:10px;
    margin-left: 10px;
}
#Curso #form2 #editar-aula-area label h4{
    margin-top: 1px;
}

/* form1 */
#Curso #form1{
    width: 300px;
    height: calc(100% - 50px);
    margin-top: 50px;
    border-right: solid 2px white;
    overflow-y: auto;
    overflow-x: hidden;
}

#Curso #form1 > div:first-child{
    display: flex;
    height: 50px;
}

#Curso #form1 > div:first-child button[type="button"]{
    appearance: none;
    width: 35px;
    height: 35px;
    background-image: url(../../assets/reset.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    transition:100ms;
    margin-right: 10px;
    margin-top: 7px;
}

#Curso #form1 > div:first-child button[type="submit"]{
    appearance: none;
    width: 65px;
    height: 35px;
    background-color: white;
    transition:100ms;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
    text-transform:uppercase;
    font-weight: 700;
}

#Curso #form1 > div:first-child button[type="button"]:hover,
#Curso #form1 > div:first-child button[type="submit"]:hover{
    transform:scale(1.2);
}

#Curso #form1 > div:last-child input[type="text"]{
    width: calc(100% - 20px);
    height: 35px;
    background-color: #58446c;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.199);
    padding: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 16px;
    margin-top: 10px;
}
#Curso #form1 > div:last-child input[type="text"]::placeholder{
    color:rgb(189, 186, 186);
}

#Curso #form1 .respostas{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    position: relative;
}

#Curso #form1 .respostas input[type="radio"]{
    appearance: none;
    cursor:pointer;
    width: 20px;
    height:20px;
    border-radius: 50%;
    outline:none;
    border: 2px solid rgb(255, 254, 255);
    position:relative;
    display:flex;
    position: absolute;
    top:14px;
    left: 5px;
}

#Curso #form1 .respostas input[type="radio"]:checked::before{
    content:'';
    position:absolute;
    height: 10px;
    width: 10px;
    background-color: rgb(209, 27, 255);
    border-radius: 50%;
    top:3px;
    left: 3px;
}
#Curso #form1 .respostas input[type="radio"]:hover{
    background-color: rgb(95, 95, 95);
}

#Curso #form1 .respostas input[type="text"]{
    width: 250px !important;
}
#Curso #form1 input[type="file"]{
    color: white;
    margin-left: 10px;
    margin-top:10px;
    margin-bottom:5px;
}

#Curso #form1 #add-res{
    appearance: none;
    border:2px solid rgb(247, 246, 246);
    background:none;
    color:white;
    border-radius: 10px;
    width: calc(100% - 90px);
    height: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 23px;
    margin-top: 7px;
    cursor:pointer;
    display: block;
}

#Curso #form1 #add-res:hover{
    background-color: #58446c;
}