#Painel{
    width: 100%;
    min-height: 300px;

    font-family: Playfair,serif;

}
#Painel h2{
    margin:0 0 20px 10px;
    padding-top:10px;
    font-size: 30px;
}

#Painel #cursos-container,#Painel #exercicios-container,#Painel #cursos-criados-container,#Painel #perfil{
    width: 100%;
    min-height: 100px;
}

/* cursos */
#Painel #cards-cursos{
    width: 100%;
    /*background-color: rgb(164, 50, 240);*/
    min-height: 200px;
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: flex-start;
    margin-left: 10px;
    margin-right: 20px;
}


#Painel #cursos-criados{
    width: 100%;
    /*background-color: rgb(164, 50, 240);*/
    min-height: 200px;
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: flex-start;
}
/* exercicios */
#Painel #exercicios-container{
    background-color: red;
}

#Painel #exercicios{
    width: 200px;
    background-color: wheat;
    min-height: 200px;
    display: flex;
}


/* generico */
#Painel .card{
    transition: 200ms;
    z-index: 1;
}
#Painel .card:hover{
    transform: scale(1.1);
    animation-timing-function:ease-in;
}

#Painel .card:visited{
    color:inherit;
}


#Painel .card-curso{
    background-color: rgb(241, 240, 240);
    border: 3px solid grey;
    width: 300px;
    height: 300px;
    padding: 10px;
    overflow: hidden;
    cursor: pointer;
    text-decoration:underline;
}
#Painel .card-curso .imgCurso-container{
    width: 100%;
    max-height: 220px;
    overflow: hidden;
}
#Painel .card-curso .imgCurso-container img{
    width: 100%;
}

/* perfil esquerdo*/
#Painel #perfil section{
    display: flex;
    column-gap: 0px;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 20px;
}

#Painel .card-painel{
    /* background-color: purple; */
    width: 300px;
    height: 300px;
    display: inline-block;
    /* min-width: 300px; */
    /* margin-left: 20px; */
    border: 3px solid grey;
}
#Painel #perfil-esquerdo{
   border-right: none;
   overflow: hidden;
}

#Painel #perfil-esquerdo h4{
    margin: 5px 0 0 10px;
    display: block;
}

#Painel #perfil-esquerdo input[type='file']{
    margin-left: 10px;
}

#Painel #perfil-esquerdo #img-placeholder{
    /* background-color: red; */
    width: 100%;
    height: 230px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
#Painel #perfil-esquerdo #img-placeholder img{
    margin-top: 20px;
    width: 85%;
    height: auto;
    position:absolute;
}




/* perfil direito */
#Painel #perfil-direito{
    padding: 10px;
    overflow: hidden;
}
#Painel #perfil-direito form{
    /* background-color:aquamarine; */
    width: 100%;
    height: 100%
}
#Painel #perfil-direito form input{
    width: 235px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 15px;
}

#Painel #perfil-direito input[type="email"]{
    cursor:not-allowed;

}

#Painel #perfil-direito button[type="button"]{
    appearance: none;
    width: 30px;
    height: 30px;
    background-image: url(../../assets/reset.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    transition:100ms;
    position: absolute;
}

#Painel #perfil-direito button[type="button"]:hover{
    transform: scale(1.2);
}
#Painel #perfil-direito button[type="button"]:active{
    transform: scale(1);
}
#Painel #perfil-direito button[type="button"]:focus{
    outline: 2px purple solid
}

#Painel #submit-e-load{
    /* background-color: red; */
    height: 30px;
    display: flex;
    column-gap: 10px;
    margin-top:20px;
}

#Painel #perfil-direito button[type='submit']{
    appearance: none;
    width: 235px;
    height: 30px;
    background-color: purple;
    /* margin-right: 10px; */
    /* margin-top:20px; */
    transition: 100ms;
    color:white;
    text-transform: uppercase;
    font-size: 15px;
    border:none;
    display: inline-block;
}
#Painel button{
    font-family: roboto-slab, sans-serif;
}
#Painel #perfil-direito button[type='submit']:hover{
    transform: scale(1.07);
}

#Painel #perfil-direito #load-perfil{
    width: 30px;
    height: 30px;
    display: inline-block;
}

#Painel #perfil-direito #load-perfil #success{
    width: 27px;
    height: 27px;
    background-image: url(../../assets/success.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    position: absolute;
    display: none;
}

#Painel #perfil-direito #load-perfil #erro{
    width: 27px;
    height: 27px;
    background-image: url(../../assets/erro.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    position: absolute;
    display: none;
}

#Painel #perfil-direito #load-perfil #load{
    position:absolute;
    border-top:3px solid purple;
    width: 27px;
    height: 27px;
    border-radius: 30px;
    animation: animacaoload .5s infinite linear;
    display: none;
}

@keyframes animacaoload{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

#Painel #nome-e-logout{
    display: block;
    position:relative;
}

#Painel #nome-e-logout h2{
    display: inline-block;
    margin-right: 20px;
}
#Painel #nome-e-logout button{
    position:relative;
    top:-5px;
    appearance: none;
    width: 50px;
    height: 30px;
    background-color: purple;

    transition: 100ms;
    color:white;
    text-transform: uppercase;
    font-size: 15px;
    display: inline-block;
    border:none;
}
#Painel #nome-e-logout button:hover{
    transform: scale(1.15);
}

/* cursos criados */
#Painel #cursos-criados{
    margin-left: 10px;
}


#Painel #cursos-criados-container h2{
    display: inline-block;
}

#Painel #btn-criar{
    background:none;
    appearance: none;
    height: 42px;
    width: 42px;
    border-radius: 50px;
    border:2px solid black;
    font-size: 40px;
    font-family: proxima-nova;
    transition: 50ms;
    animation-timing-function: linear;
    position:relative;
    left: 10px;
    top:7px;
    cursor: pointer;
}

#Painel #btn-criar:hover{
    background-color: rgb(201, 199, 197);
    transform: scale(1.2);
}
#Painel #btn-criar:active{
    transform: scale(1);
}

/* criar curso */
#Painel #criar-curso-area{
    width: 90%;
    height: 90%;
    overflow: hidden;
    background-color: palevioletred;
    position:fixed;
    top:5%;
    left: 5%;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}

#Painel #btn-fechar{
    appearance: none;
    background: none;
    width: 50px;
    height: 50;
    overflow: hidden;
    position: absolute;
    border:none;
    cursor: pointer;
    right: 0px;
    top:5px;
    z-index: 3;
}
#Painel #btn-fechar img{
    width: 100%;
}

#Painel #criar-curso-area form{
    background-color: aliceblue;
    width: 90%;
    height: 90%;
}

#Painel #criar-curso-area form input{
    display: block;
}