#Painel{
    width: 100%;
    min-height: 300px;

    font-family: Playfair,serif;

}
#Painel h2{
    margin:0 0 20px 10px;
    padding-top:10px;
    font-size: 30px;
}

#Painel #cursos-container,#Painel #exercicios-container,#Painel #cursos-criados-container,#Painel #perfil{
    width: 100%;
    min-height: 100px;
}

/* cursos */
#Painel #cards-cursos{
    width: 100%;
    /*background-color: rgb(164, 50, 240);*/
    min-height: 200px;
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}


#Painel #cursos-criados{
    width: 100%;
    /*background-color: rgb(164, 50, 240);*/
    min-height: 200px;
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}
/* exercicios */
#Painel #exercicios-container{
    background-color: red;
}

#Painel #exercicios{
    width: 200px;
    background-color: wheat;
    min-height: 200px;
    display: flex;
}


/* generico */
#Painel .card{
    transition: 200ms;
}
#Painel .card:hover{
    transform: scale(1.2);
}



#Painel .card-curso{
    background-color: pink;
    width: 300px;
    height: 300px;

}

/* perfil */
#Painel .card-painel{
    background-color: purple;
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-left: 20px;
}
#Painel #perfil-esquerdo{

}
#Painel #perfil-direito{
    aqui o usuario vai poder editar suas informaçoes de perfil
    tbm poderá alterar o tema e imagem
}