* {
  box-sizing: border-box;
}
/* html {
  scroll-behavior: smooth;
} */
body {
  padding: 0;
  margin: 0;
  width: calc(100vw - 17px);
  overflow-x: hidden;
  /*cursor: url(C:/Windows/Cursors/cursors/c4_wii_cursors/wii-pointer-ccw.cur),default;*/
}
button,a,input[type='file'],.manual-btn,#submit-btn,input[type='radio']{
  /*cursor: url(C:/Windows/Cursors/cursors/c4_wii_cursors/wii-pointer-blue.cur),pointer !important;*/
}
p,h1,h2,h3,h4,h5,h6,li{
  cursor:text;
}

#root{
  width: 100%;
  overflow: hidden;
}

@font-face {
  font-family: roboto-slab;
  src: url(./assets/RobotoSlab-VariableFont_wght.ttf);
}
@font-face {
  font-family: proxima-nova;
  src: url(./assets/ProximaNovaFont.otf);
}
@font-face {
  font-family: Playfair;
  src: url(./assets/Playfair/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
  font-family: lato;
  src: url(./assets/Lato/Lato-Black.ttf);
}

@media (hover: none) and (pointer: coarse) {
  body{
      width: 100vw
  }
}